/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  border-color: white;
  border-width: 4px;
  border-style: solid;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffffff;
  color: #000000;
}

h1 {
  border-color: white;
  border-width: 4px;
  border-style: solid;
}

h2 {
  border-color: white;
  border-width: 3.5px;
  border-style: solid;
}

h3 {
  border-color: white;
  border-width: 3px;
  border-style: solid;
  float: left;
}