@font-face {
  /*a name to be used later*/
  font-family: 'MSDos';
  /*URL to font*/
  src: url(https://sackydzng.github.io/ModernDOS8x16.ttf);
}

body {
  font-family: 'MSDos';
  background-color: #000000;
  color: #ffffff;
}

p {
  display: contents;
  overflow: hidden;
  font-size: 20px;
  float: left
}